# Dependencies
node_modules/

# Database
database/*.sqlite
database/*.db

# SSL Certificates
ssl/*.crt
ssl/*.key
ssl/*.pem

# Frontend build
frontend/

# Logs
*.log
npm-debug.log*

# Runtime
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local